{% extends "front/base.html.twig" %}

{% block body %}
    <div class="row">
        {% if page is not null %}
            <div class="col-lg-12">
                <h5>{{ page.getName() }}</h5>
            </div>
            <div class="col-lg-12">
                {{ page.getContent() | raw }}
            </div>
        {% endif %}
    </div>

{% endblock %}