{% extends "front/base.html.twig" %}

{% block body %}
    <ul class="page-breadcrumb">
        <li><a href="{{ path("front.index") }}">首頁</a></li>
        <li><a href="#">網路資源</a></li>
    </ul>

    <div class="primary">

        {% if page is not null %}
        <div class="information">
            <h5 class="title">網路資源</h5>
        </div>

        <div class="article">
            {{ page.getContent() | raw }}
        </div>
        {% endif %}

    </div>
{% endblock %}